.add-featured-banner {
  padding: 20px 15px;
  text-align: center;
  overflow: auto;
}
.add-featured-banner img {
  height: 166px;
  object-fit: contain;
  width: 320px;
}
.add-featured-banner p {
  font-size: 16px;
  color: #65676b;
  margin-bottom: 20px;
}
.add-featured-banner button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.0625rem;
  line-height: 1.1765;
  font-weight: 600;
  background-color: #e7f3ff;
  color: #1877f2;
  font-family: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.add-featured-banner button:hover {
  background-color: #dbe7f2;
}
.add-featured-upload {
  margin: 10px 20px;
}

.add-featured-upload label {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.0625rem;
  line-height: 1.1765;
  font-weight: 600;
  background-color: #e7f3ff;
  color: #1877f2;
  font-family: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.add-featured-upload label:hover {
  background-color: #dbe7f2;
}
.add-featured-upload .feature-upload {
  padding-bottom: 15px;
}
.freature-items-photos-upload {
  width: 675px;
  overflow: auto;
  scroll-behavior: smooth;
  height: 130px;
}
.freature-items-photos-upload .fearture-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px;
}

.freature-items-photos-upload .fearture-preview .preview-item {
  width: 123px;
  height: 228.44px;
  background-color: #ccc;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.freature-items-photos-upload .fearture-preview .preview-item .wrap-label {
  width: 99%;
  height: 101%;
  padding: 0px;
  margin: 0px;
}

.freature-items-photos-upload .fearture-preview .preview-item img {
  width: 100%;
  height: 98%;
  object-fit: cover;
}

.round {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999;
}
.round label {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
  border-radius: 50%;
}
.round label:after {
  border: 2px solid var(--blue-color);
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}
.round input[type="checkbox"]:checked + label {
  background-color: #fff;
  border-color: #ccc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
