.options {
  width: 357px;
  height: 350px;
  overflow: auto;
  box-shadow: 2px 2px 11px 4px rgb(0 0 232 / 17%);
  border-radius: 10px;
  position: absolute;
  left: 440px;
  top: 1291px;
  right: 0px;
  background-color: #fff;
}
.options .wraper-option {
  width: 340px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.aactive {
  left: 450px;
  top: 1047px;
}

.ymd {
  width: 357px;
  height: 350px;
  overflow: auto;
  box-shadow: 2px 2px 11px 4px rgb(0 0 232 / 17%);
  border-radius: 10px;
  position: absolute;
  left: 430px;
  top: 1344px;
  right: 0px;
  background-color: #fff;
  z-index: 999;
  margin-bottom: 10px;
}
.highSc {
  width: 357px;
  height: 350px;
  overflow: auto;
  box-shadow: 2px 2px 11px 4px rgb(0 0 232 / 17%);
  border-radius: 10px;
  position: absolute;
  left: 450px;
  top: 1260px;
  right: 0px;
  background-color: #fff;
  z-index: 999;
  margin-bottom: 10px;
}
.addColl {
  width: 357px;
  height: 350px;
  overflow: auto;
  box-shadow: 2px 2px 11px 4px rgb(0 0 232 / 17%);
  border-radius: 10px;
  position: absolute;
  left: 500px;
  top: 1110px;
  right: 0px;
  background-color: #fff;
  z-index: 999;
  margin-bottom: 10px;
}
.addCollege {
  width: 357px;
  height: 350px;
  overflow: auto;
  box-shadow: 2px 2px 11px 4px rgb(0 0 232 / 17%);
  border-radius: 10px;
  position: absolute;
  left: 500px;
  top: 1150px;
  right: 0px;
  background-color: #fff;
  z-index: 999;
  margin-bottom: 10px;
}
