select.year {
  position: absolute;
  left: 0px;
  width: 91px;
  outline: none;
  padding: 7px;
  font-size: 18px;
  border: none;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 5px;
  background-color: #e4e6eb;
}
select.month {
  position: absolute;
  left: 0px;
  width: 91px;
  outline: none;
  padding: 7px;
  font-size: 18px;
  border: none;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 5px;
  background-color: #e4e6eb;
}
select.day {
  position: absolute;
  left: 0px;
  width: 91px;
  outline: none;
  padding: 7px;
  font-size: 18px;
  border: none;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 5px;
  background-color: #e4e6eb;
}
option {
  background: #fff;
  border: none;
}
.cancel-save-btn button.active {
  background-color: #e4e6eb;
  color: #bcc0c4;
  cursor: no-drop;
}
.cancel-save-btn button.active-saveBtn-save {
  background-color: var(--blue-color);
  color: #fff;
}
.add-city-saveBtn {
  background-color: #e4e6eb;
  color: #bcc0c4;
  cursor: no-drop;
}
.add-city-saveBtn-Save {
  background-color: var(--blue-color);
  color: #fff;
}
.add-city-saveBtn-Save:hover {
  background-color: var(--blue-color);
  color: #fff;
  cursor: pointer;
}
