body {
  background-color: #f0f2f5;
}
.about-personal-info {
  margin-top: 10px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.info-wraper {
  height: 100%;
  width: 1250px;
}
.about {
  flex: 3 1;
  display: flex;
  justify-content: flex-start;
  margin: 10px 10px;
}
.about-title {
  flex: 1;
  border-right: 1px solid #ddd;
}
.about-title span {
  font-size: 20px;
  font-weight: bold;
  font-weight: 900;
}
.about-title .about-item {
  margin-right: 5px;
  color: #65676b;
}

.about-title .about-item a {
  display: flex;
  gap: 5px;
  border-radius: 9px;
  margin: 10px 0px;
  cursor: pointer;
  padding: 10px 0px;
  margin-left: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.9375rem;
  width: 100%;
}
.about-title .about-item span {
  font-size: 16px;
  width: 100%;
  padding: 0px 10px;
}
.about-title .about-item a.active {
  background-color: #e7f3ff;
  color: #267ef3;
}
.about-page {
  flex: 3 1;
  gap: 5px;
  border-left: 1px solid #ddd;
}
.wraper {
  width: 100%;
  margin-left: 10px;
}
