.popup-story-slider-wraper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}

.popup-story-slider-wraper .story-slider {
  width: 310px;
  height: 550px;
  background-color: #fff;
  border-radius: 10px;
}

.popup-story-slider-wraper .story-slider .slider-item {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.popup-story-slider-wraper .story-slider .slider-item .slider-bars-wraper {
  display: flex;
  gap: 5px;
  transform: translate(0px 10px);
  padding: 0px 10px;
}

.popup-story-slider-wraper
  .story-slider
  .slider-item
  .slider-bars-wraper
  .bars-item {
  width: 100%;
  height: 5px;
  background-color: #8a8580;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.popup-story-slider-wraper
  .story-slider
  .slider-item
  .slider-bars-wraper
  .bars-item
  .progress {
  width: 0%;
  background-color: #eee8e1;
  height: 5px;
}
.popup-story-slider-wraper
  .story-slider
  .slider-item
  .slider-bars-wraper
  .bars-item.active
  .progress {
  animation: 5s sliderLoading;
}

@keyframes sliderLoading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.popup-story-slider-wraper
  .story-slider
  .slider-item
  .slider-bars-wraper
  .bars-item.viewd
  .progress {
  width: 100%;
}
.popup-story-slider-wraper .navigation {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-story-slider-wraper .navigation .prevBtn {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/nd8DbTIqNXG.png");
  background-position: -58px -26px;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg)
    brightness(90%) contrast(96%);
}
.popup-story-slider-wraper .navigation .nextBtn {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/nd8DbTIqNXG.png");
  background-position: -108px -26px;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg)
    brightness(90%) contrast(96%);
}
.popup-story-slider-wraper .navigation .prevBtnn {
  transform: translate(-90px, 0px);
  transition: 0.3s;
  width: 50px;
  height: 50px;
  background-color: #242526;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.popup-story-slider-wraper .navigation .prevBtnn:hover {
  transform: translate(-100px, 0px);
  background-color: #3a3b3c;
}
.popup-story-slider-wraper .navigation .next {
  transform: translate(90px, 0px);
  transition: 0.3s;
  width: 50px;
  height: 50px;
  background-color: #242526;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.popup-story-slider-wraper .navigation .next:hover {
  transform: translate(100px, 0px);
  background-color: #3a3b3c;
}
.popup-story-slider-wraper .navigation button {
  font-size: 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.story-details {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.story-details .profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
}
.story-details .profile-info span {
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
}
.story-details .profile-info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.story-details .story-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.story-details .story-info a {
  font-size: 25px;
  cursor: pointer;
}
.story-details .story-info .unmute {
  background-position: 119px 203px;
  width: 24px;
  height: 24px;
  background-size: cover;
  filter: invert(1);
}
.story-details .story-info .mute {
  background-position: 119px 170px;
  width: 24px;
  height: 24px;
  background-size: cover;
  filter: invert(1);
}

.more-options-details {
  position: absolute;
  left: 467px;
  top: 92px;
  right: 0px;
  width: 344px;
  height: 128px;
  background-color: #fff;
  border-radius: 10px 0px 10px 10px;
}
.more-options-details .options-wraper {
  position: relative;
}

.more-options-details .options-wraper .more-option {
  position: absolute;
  top: -33px;
  left: 323px;
  right: 0px;
  bottom: 0px;
  filter: invert(1);
}
.more-options-details .options-wraper .more-item .mute-photo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/stkdWUY9MC1.png");
  background-position: 0px -738px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.more-options-details .options-wraper .more-item .report-story-photo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/stkdWUY9MC1.png");
  background-position: 0px -1137px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.more-options-details .options-wraper .more-item .story-photo-something {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/stkdWUY9MC1.png");
  background-position: 0px -276px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.more-options-details .options-wraper .more-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  margin: 16px 16px;
  cursor: pointer;
}
.more-options-details .options-wraper .more-item span {
  font-weight: 600;
  color: #050505;
  font-family: inherit;
  line-height: 1.3333;
  font-size: 0.9375rem;
  word-wrap: break-word;
}
